<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <system.webServer>
    <handlers>      
      <add name="StaticFile" verb="*" path="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
</configuration>