<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ITHit.WebDAV.Server" version="5.7.3609" targetFramework="monoandroid60" />
  <package id="ITHit.WebDAV.Server.HttpListener" version="5.7.3609" targetFramework="monoandroid60" />
  <package id="Microsoft.AspNetCore.Hosting.Abstractions" version="2.0.0-preview2-final" targetFramework="monoandroid60" />
  <package id="Microsoft.AspNetCore.Hosting.Server.Abstractions" version="2.0.0-preview2-final" targetFramework="monoandroid60" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.0.0-preview2-final" targetFramework="monoandroid60" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.0.0-preview2-final" targetFramework="monoandroid60" />
  <package id="Microsoft.CSharp" version="4.3.0" targetFramework="monoandroid60" />
  <package id="Microsoft.Extensions.Configuration" version="2.0.0-preview2-final" targetFramework="monoandroid60" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.0.0-preview2-final" targetFramework="monoandroid60" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.0.0-preview2-final" targetFramework="monoandroid60" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="2.0.0-preview2-final" targetFramework="monoandroid60" />
  <package id="Microsoft.Extensions.Configuration.Json" version="2.0.0-preview2-final" targetFramework="monoandroid60" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.0.0-preview2-final" targetFramework="monoandroid60" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0-preview2-final" targetFramework="monoandroid60" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.0.0-preview2-final" targetFramework="monoandroid60" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="2.0.0-preview2-final" targetFramework="monoandroid60" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="2.0.0-preview2-final" targetFramework="monoandroid60" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="2.0.0-preview2-final" targetFramework="monoandroid60" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.0-preview2-final" targetFramework="monoandroid60" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0-preview2-final" targetFramework="monoandroid60" />
  <package id="Microsoft.NETCore.Platforms" version="2.0.0-preview2-25405-01" targetFramework="monoandroid60" />
  <package id="Microsoft.Packaging.Tools" version="1.0.0-preview2-25401-01" targetFramework="monoandroid60" />
  <package id="NETStandard.Library" version="2.0.0-preview2-25401-01" targetFramework="monoandroid60" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="monoandroid60" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="monoandroid60" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="monoandroid60" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="monoandroid60" />
  <package id="System.IO.FileSystem.Watcher" version="4.3.0" targetFramework="monoandroid60" />
  <package id="System.Net.NetworkInformation" version="4.3.0" targetFramework="monoandroid60" />
  <package id="System.Runtime" version="4.3.0" targetFramework="monoandroid60" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0-preview2-25405-01" targetFramework="monoandroid60" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="monoandroid60" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="monoandroid60" />
  <package id="System.Runtime.Serialization.Formatters" version="4.3.0" targetFramework="monoandroid60" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="monoandroid60" />
  <package id="System.Text.Encodings.Web" version="4.4.0-preview2-25405-01" targetFramework="monoandroid60" />
  <package id="System.Threading.Thread" version="4.3.0" targetFramework="monoandroid60" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="monoandroid60" />
</packages>