<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ITHit.WebDAV.Server" version="7.1.4841" targetFramework="net451" />
  <package id="ITHit.WebDAV.Server.Web" version="7.1.4841" targetFramework="net451" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net451" />
</packages>