<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ITHit.Server" version="13.3.12924-Beta" targetFramework="net451" />
  <package id="ITHit.Server.Web" version="13.3.12924-Beta" targetFramework="net451" />
  <package id="ITHit.WebDAV.Server" version="13.3.12924-Beta" targetFramework="net451" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net451" />
  <package id="ITHit.Collab" version="1.0.0.759" targetFramework="net45" />
</packages>