<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore requestTimeout="01:00:00" processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="true" stdoutLogFile="..\logs\stdout.log" forwardWindowsAuthToken="false"/>
    <security>
      <!-- 
      * To allow '+' in item names the allowDoubleEscaping attribute is set to 'true'.
      -->
      <requestFiltering allowDoubleEscaping="true" />
    </security>
    
    <!-- Used only in Integrated mode. In Classic mode system.web\httpModules section is used. -->
    <modules>
      <!-- Disables Microsoft IIS 7.x and later WebDAV in Integrated mode. It must be disabled for the engine to function properly. -->
      <remove name="WebDAVModule" />
    </modules>
  </system.webServer>
</configuration>