<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DebugLoggingEnabled" value="true"/>
    <add key="RepositoryPath" value="Samples\VB\WebDAVServer.FileSystemStorage.HttpListener\App_Data\WebDav\Storage" />    
    
    <add key="ListenerPrefix" value="http://+:3456/" />
    <!-- File system search provider. This provider is available on Windows Vista and later versions as well as on Window Server 2008.
         It is not available on Web-editions of Windows Server OS by default.
         To get search results file system indexing must be enabled.
         To find how to enable indexing follow this link: http://windows.microsoft.com/en-us/windows/improve-windows-searches-using-index-faq -->
    <add key="WindowsSearchProvider" value="Provider=Search.CollatorDSO;Extended Properties=&quot;Application=Windows&quot;" />
    
  </appSettings>  
</configuration>