<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ITHit.Server" version="13.3.12932-Beta" targetFramework="net451" />
  <package id="ITHit.Server.HttpListener" version="13.3.12932-Beta" targetFramework="net451" />
  <package id="ITHit.WebDAV.Server" version="13.3.12932-Beta" targetFramework="net451" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net451" />
  <package id="ITHit.GSuite.Server" version="13.3.12932-Beta" targetFramework="net451" />
  <package id="Google.Apis" version="1.40.2" targetFramework="net451" />
  <package id="Google.Apis.Auth" version="1.40.2" targetFramework="net451" />
  <package id="Google.Apis.Core" version="1.40.2" targetFramework="net451" />
  <package id="Google.Apis.Drive.v3" version="1.40.2.1649" targetFramework="net451" />
</packages>