<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ITHit.Server" version="9.0.1208-Beta" targetFramework="net451" />
  <package id="ITHit.WebDAV.Server" version="9.0.1208-Beta" targetFramework="net451" />
  <package id="ITHit.WebDAV.Server.Web" version="9.0.1208-Beta" targetFramework="net451" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net451" />
  <package id="ITHit.Collab" version="1.0.0.732" targetFramework="net45" />
</packages>