@import "variables_bootstrap";

$image-base-path: "/images/" !default;

$mainColor: #007bff;
$textColor: #212529;

$sceletonColor: rgba(196, 196, 196, 0.3);

$tableHoverColor: #ececec;

$whiteColor: #ffffff;
$grayColor: #b2b2b2;
