<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DebugLoggingEnabled" value="true"/>
    <add key="RepositoryPath" value="Samples\CS\WebDAVServer.FileSystemStorage.HttpListener\App_Data\WebDav\Storage" />
    <!-- 
    By default locks and custom properties are stored in Alternate Data Streams (on Windows) or in Extended Attributes (on Linux and Mac),
    together with a file. If ADS/Extended Attributes are not supported, this sample will try to store locks and custom properties in system temp folder.
    To specify a location where the locks and custom properties should be stored uncomment the following attribute and specify the folder path. 
    Every attribute will be stored in a separate file under this folder in this case.
    -->
    <!-- <add key="AttrStoragePath" value="Samples\CS\WebDAVServer.FileSystemStorage.HttpListener\App_Data\WebDav\Storage/Attributes/" /> -->    
    
    <add key="ListenerPrefix" value="http://+:3456/" />
    <!-- File system search provider. This provider is available on Windows Vista and later versions as well as on Window Server 2008.
         It is not available on Web-editions of Windows Server OS by default.
         To get search results file system indexing must be enabled.
         To find how to enable indexing follow this link: http://windows.microsoft.com/en-us/windows/improve-windows-searches-using-index-faq -->
    <add key="WindowsSearchProvider" value="Provider=Search.CollatorDSO;Extended Properties=&quot;Application=Windows&quot;" />
  </appSettings>  
</configuration>