<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ITHit.Server" version="9.1.5460-Beta" targetFramework="net451" />
  <package id="ITHit.Server.HttpListener" version="9.1.5460-Beta" targetFramework="net451" />
  <package id="ITHit.WebDAV.Server" version="9.1.5460-Beta" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net451" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net451" />
</packages>