<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ITHit.WebDAV.Server" version="5.7.3670" targetFramework="monoandroid60" />
  <package id="ITHit.WebDAV.Server.HttpListener" version="5.7.3670" targetFramework="monoandroid60" />
  <package id="Microsoft.CSharp" version="4.4.0" targetFramework="monoandroid60" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.0.0" targetFramework="monoandroid60" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="monoandroid60" />
  <package id="Microsoft.NETCore.Platforms" version="2.0.0" targetFramework="monoandroid60" />
  <package id="Microsoft.Packaging.Tools" version="1.0.0-preview2-25401-01" targetFramework="monoandroid60" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="monoandroid60" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="monoandroid60" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="monoandroid60" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="monoandroid60" />
  <package id="System.Net.NetworkInformation" version="4.3.0" targetFramework="monoandroid60" />
  <package id="System.Runtime.Serialization.Formatters" version="4.3.0" targetFramework="monoandroid60" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="monoandroid60" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="monoandroid60" />
</packages>