<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- 
    To enable full-text search in case of WebDAV project, including Microsoft Office documents content search, follow instructions in 
    DB.sql to enable full-text indexing and uncomment code in Search method in DavFolder.cs.
    Note that full-text search is not supported on Microsoft SQL LocalDB/Express editions. You need Microsoft SQL Server Web edition or higher.
    -->
    <add name="WebDAV" connectionString="Server=(localdb)\v11.0;Integrated Security=SSPI;AttachDbFileName=|DataDirectory|\WebDav\DB\WebDav.mdf" providerName="System.Data.SqlClient"/>
    <!--<add name="WebDAV" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\WebDav\DB\webdav.mdf;User Instance=true" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key="DebugLoggingEnabled" value="true"/>    
    
    <add key="ListenerPrefix" value="http://+:3460/" />
    <add key="GoogleServiceAccountID" value=""/>
    <add key="GoogleServicePrivateKey" value=""/>
  </appSettings>  
</configuration>