<div id="ithit-dropzone">
  <div class="row no-gutters"><%= leftPanel %> <%= rightPanel %></div>
  <div class="row d-none">
    <div class="col-12">
      <p>
        This is a demo sever for
        <a href="https://www.webdavsystem.com/server/"
          >WebDAV Server Engine for .NET</a
        >
        and
        <a href="https://www.webdavsystem.com/ajax/">WebDAV Ajax Library</a>.
      </p>
      <hr />
      <h3>Your Test Folder</h3>
      <p>
        The following folder was created for you for testing purposes:
        <b><span class="ithit-current-folder-value"></span></b>
      </p>
      <p>
        Note that this folder and all files in it will be deleted within 72
        hours. You can use the above url to test WebDAV server with various
        <a href="http://www.webdavsystem.com/server/access">WebDAV clients</a>.
      </p>
      <hr />
      <h3>Editing Microsoft Office and Other Docs</h3>
      <p>
        You can open for editing Microsoft Office and any other types of files
        directly from this web page and save back to server without
        download/upload steps. See how to
        <a
          href="https://www.webdavsystem.com/ajax/programming/opening_ms_office_docs/"
          title="Opening Microsoft Office Documents and Other Types of Files for Editing From a Web Page"
        >
          open documents from WebDAV server </a
        >and
        <a
          href="https://www.webdavsystem.com/ajax/programming/opening_os_file_manager/"
          title="Opening OS File Manager from a Web Page"
          >run OS File Manager</a
        >
        using WebDAV Ajax Library.
      </p>
      <hr />
      <h3>Test Limitations</h3>
      <p>
        This demo server is not intended for heavy testing. If you would like to
        test server performance please download the fully functional trial
        version of
        <a href="https://www.webdavsystem.com/server/download/"
          >IT Hit .NET WebDAV Server Engine</a
        >
        and test with
        <a href="https://www.webdavsystem.com/server/server_examples/"
          >WebDAV Server Examples in C# & VB</a
        >
        provided with SDK.
      </p>
    </div>
  </div>
</div>
