<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <httpHandlers>
      <add verb="*" path="*.aspx" type="System.Web.UI.PageHandlerFactory"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="aspx handler" verb="*" path="*.aspx" type="System.Web.UI.PageHandlerFactory" preCondition="integratedMode" />
      <add name="StaticFile" verb="*" path="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
</configuration>